<template>
    <div class="dashboard-wrapper">
        <AccountSummary />
        <m-list-group>
            <m-list-group-subheader v-if="planedTransactions.length > 0">Transactions prévues</m-list-group-subheader>
            <m-list dense two-line non-interactive v-if="planedTransactions.length > 0">
                <TransactionSlate v-for="item in planedTransactions" v-bind:key="item.id"
                                  :transaction="item"
                />
            </m-list>
            <m-list-group-subheader>Transactions récentes</m-list-group-subheader>
            <m-list dense two-line non-interactive>
                <TransactionSlate v-for="item in transactions" v-bind:key="item.id"
                                  :transaction="item"
                />
            </m-list>
        </m-list-group>
    </div>
</template>

<script>
    import TransactionSlate from '../components/TransactionSlate'
    import AccountSummary from '../components/AccountSummary'
    import dataApi from '../api/data'
    import dayjs from 'dayjs'

    export default {
        name: 'DashboardView',
        components: {
            TransactionSlate,
            AccountSummary
        },

        data: () => ({
            planedTransactions: [],
            transactions: []
        }),

        methods: {
            async fetchPlannedTransactions() {
                const result = await dataApi.getPlannedTransactions(
                    dayjs().add(24, 'hour').startOf('date'),
                    dayjs().add(240, 'hour')
                )
                if (result.isSuccess) {
                    this.planedTransactions = result.body.items
                }
            },

            async fetchTransactions() {
                const result = await dataApi.getRecentTransactions(30, 0, true)
                if (result.isSuccess) {
                    this.transactions = result.body.items
                }
            }
        },

        created() {
            this.fetchPlannedTransactions()
            this.fetchTransactions()
        }
    }
</script>
