<template>
    <div class="login-wrapper">
        <div id="particles-back"></div>
        <div id="particles-front"></div>

        <section class="login-section">
            <form class="login-form">
                <header class="login-form__header">
                    <img src="../assets/app-icon.png" alt="icone">
                    <span class="login-form__header-title">Finances app</span>
                    <span class="login-form__header-subtitle">Finances personnelles simplifiées</span>
                </header>

                <span class="login-form__sub-title">Se connecter</span>
                <m-text-field v-model="email" class="login-form__text-input" id="email-field">
                    <i slot="leadingIcon" class="mdc-text-field__icon material-icons">email</i>
                    <m-floating-label for="email-field">Courriel</m-floating-label>
                    <m-line-ripple slot="bottomLine"/>
                </m-text-field>
                <m-text-field v-model="password" type="password" class="login-form__text-input" id="password-field">
                    <i slot="leadingIcon" class="mdc-text-field__icon material-icons">vpn_key</i>
                    <m-floating-label for="password-field">Mot de passe</m-floating-label>
                    <m-line-ripple slot="bottomLine"/>
                </m-text-field>

                <m-button @click="passwordLogin" raised ripple
                          class="login-form__login-button login-form__login-button--password">
                    Connexion
                </m-button>
                <div class="login-form__divider">&nbsp;&nbsp;ou&nbsp;&nbsp;</div>
                <m-button @click="googleLogin" raised ripple
                          class="login-form__login-button login-form__login-button--google">
                    <img class="mdc-button__icon" src="../assets/google.svg" slot="icon"/>
                    Connexion avec Google
                </m-button>
            </form>
        </section>
    </div>
</template>

<script>
    import 'particles.js'
    import { mapActions, mapGetters } from 'vuex'

    export default {
        name: 'LoginView',
        data: () => ({
            email: '1234',
            password: 'password1',
        }),

        methods: {
            async passwordLogin(event) {
                event.preventDefault()

                await this.loginPassword({
                    email: this.email,
                    password: this.password
                })

                this.email = ''
                this.password = ''

                if (this.$store.getters['security/loginSuccess']) {
                    await this.$router.push('app')
                }
            },

            googleLogin(event) {
                event.preventDefault()

                console.log('Google sign-in !')

                // this.$router.push('app')
            },

            _loadParticles(containerId, count, connectDistance, dotColor, lineColor, dotSize, speed) {
                particlesJS(containerId, {
                    "particles": {
                        "number": {
                            "value": count,
                            "density": {
                                "enable": true,
                                "value_area": 800
                            }
                        },
                        "color": {
                            "value": dotColor
                        },
                        "shape": {
                            "type": "circle",
                            "stroke": {
                                "width": 0,
                                "color": "#000000"
                            },
                            "polygon": {
                                "nb_sides": 5
                            }
                        },
                        "opacity": {
                            "value": 0.3,
                            "random": false,
                            "anim": {
                                "enable": false,
                                "speed": 0.85,
                                "opacity_min": 0.1,
                                "sync": false
                            }
                        },
                        "size": {
                            "value": dotSize,
                            "random": true,
                            "anim": {
                                "enable": false,
                                "speed": 40,
                                "size_min": 0.1,
                                "sync": false
                            }
                        },
                        "line_linked": {
                            "enable": true,
                            "distance": connectDistance,
                            "color": lineColor,
                            "opacity": 0.25,
                            "width": 1
                        },
                        "move": {
                            "enable": true,
                            "speed": speed,
                            "direction": "none",
                            "random": false,
                            "straight": false,
                            "out_mode": "out",
                            "bounce": false,
                            "attract": {
                                "enable": false,
                                "rotateX": 600,
                                "rotateY": 1200
                            }
                        }
                    },
                    "interactivity": {
                        "detect_on": "canvas",
                        "events": {
                            "onhover": {
                                "enable": false
                            },
                            "onclick": {
                                "enable": false
                            },
                            "resize": true
                        }
                    },
                    "retina_detect": true
                })
            },

            ...mapActions('security', [
                'loginOAuth',
                'loginPassword'
            ])
        },

        mounted() {
            this._loadParticles('particles-front', 30, 150, '#7cb342', '#b4d68f', 3, 0.3)
            this._loadParticles('particles-back', 20, 150, '#ccbf33', '#e6df99', 6, 0.6)
        },

        beforeDestroy() {
            // particles.js doesn't provide a destroy function, we need to dig in private functions to discard of it.
            if (window["pJSDom"] instanceof Array && window["pJSDom"].length > 0) {
                for (let i = 0; i < window["pJSDom"].length; i++) {
                    cancelAnimationFrame(window["pJSDom"][i].pJS.fn.drawAnimFrame);
                    window["pJSDom"][i].pJS.canvas.el.remove()
                }
                window["pJSDom"] = [];
            }
        }
    }
</script>

<style scoped lang="sass">
    #particles-front
        filter: blur(1.5px)
        top: 0
        position: fixed
        width: 100%
        height: 100%

    #particles-back
        filter: blur(4px)
        top: 0
        position: fixed
        width: 100%
        height: 100%

    .login-section
        width: 100vw
        height: 100vh
        display: grid
        grid-template-areas: '...' 'form' '...'
        grid-template-rows: 1fr auto 1fr

    .login-form
        grid-area: form
        max-width: 325px
        margin: 0 auto
        padding: 0 1.5rem
        display: flex
        flex-direction: column

    .login-form__header
        display: flex
        padding: 1rem 0.75rem 1.5rem
        flex-flow: column
        align-items: center
        text-align: center
        > img
            height: 3.6rem
            width: 3.6rem
        > .login-form__header-title
            font-size: 2.2rem
            line-height: 2.4rem
        > .login-form__header-subtitle
            font-size: 1.2rem
            line-height: 1.2rem
            font-weight: 100
            color: var(--mdc-theme-text-secondary-on-background)

    .login-form__sub-title
        font-size: 1.3rem
        text-align: center

    .login-form__header
        display: flex
        padding: 1rem 0
        flex-flow: column
        align-items: center

    .login-form__text-input
        margin: 0.5rem 0

    .login-form__divider
        width: 100%
        margin: 1rem 0
        position: relative
        display: flex
        align-items: center
        padding: 0
        white-space: nowrap
        &::before, &::after
            content: ''
            width: 100%
            height: 2px
            background-color: #373737
        &::before
            left: 0
        &::after
            right: 0

    .login-form__login-button
        margin: 0 auto
        &.login-form__login-button--password
            margin-top: 16px
        &.login-form__login-button--google
            background-color: #4285f4
            color: white
            .mdc-button__icon
                height: 16px
                width: 16px
                padding: 10px
                margin-left: -16px
                background: white
                margin-right: 16px
</style>
