<template>
    <div class="account-summary-wrapper">
        <section class="account-summary">
            <span>Solde total</span>
            <span class="account-summary__sum">
                <Amount :amount="totalBalance" :precision="0"/>
                <Amount class="account-summary__credit-limit" :amount="creditLimit" :precision="0"/>
            </span>
        </section>
        <section class="account-collection">
            <div class="account-collection__item-wrapper" v-for="account of accounts.slice(0, 4)" v-bind:key="account.accountId">
                <m-menu-anchor>
                    <div class="account-collection__item"
                         @click="account.isMenuOpen = !account.isMenuOpen"
                         v-bind:class="{ 'account-collection__item--positive': account.amount >= 0 }">
                        <span class="account-collection__item-account">{{ account.accountType }}</span>
                        <Amount class="account-collection__item-amount" :amount="account.amount" :precision="0"/>
                        <Amount class="account-collection__item-credit-limit"
                                :amount="account.creditLimit" :precision="0"
                                v-if="account.creditLimit !== null"/>
                    </div>
                    <m-menu v-model="account.isMenuOpen" anchorCorner="BOTTOM_LEFT">
                        <m-list>
                            <m-list-item>Relevé du compte</m-list-item>
                            <m-list-item v-if="account.accountType === 'CC'">Transactions en attentes</m-list-item>
                        </m-list>
                    </m-menu>
                </m-menu-anchor>
            </div>
        </section>
    </div>
</template>

<script>
    import Amount from './Amount'
    import dataApi from '../api/data'

    export default {
        name: 'AccountSummary',
        components: {
            Amount
        },

        data: () => ({
            accounts: []
        }),

        computed: {
            totalBalance() {
                return this.accounts.reduce((acc, val) => (acc += val.amount), 0)
            },

            creditLimit() {
                let availableCredit = this.accounts
                    .filter(_account => _account.creditLimit)
                    .reduce((acc, _account) => {
                        return acc += _account.creditLimit + _account.amount
                    }, 0)
                let totalBalance = this.accounts.reduce((acc, _account) => (acc += _account.amount), 0)
                return totalBalance - availableCredit
            }
        },

        created() {
            this.fetchData()
        },

        methods: {
            async fetchData() {
                const result = await dataApi.getAccountBalance()
                if (result.isSuccess) {
                    this.accounts = result.body.balances
                }
            }
        }
    }
</script>

<style scoped lang="sass">
    @import '../theme'

    .account-summary-wrapper
        margin-bottom: 0.75rem

    .account-summary
        font-size: 1.7rem
        font-weight: 100
        margin: 0.75rem
        display: flex
        justify-content: space-between
        &__credit-limit
            color: $mdc-theme-text-secondary-on-background
            font-size: 1rem
            &::before
                content: ' / '

    .account-collection
        position: relative
        width: 100%
        white-space: nowrap
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        box-sizing: border-box
        background-color: $mdc-theme-surface--01dp
        border-radius: 7px
        height: calc(57px + 0.45rem + 0.55rem)
        .account-collection__item-wrapper
            &:first-child
                border-top-left-radius: 7px
                border-bottom-left-radius: 7px
            &:last-child
                border-top-right-radius: 7px
                border-bottom-right-radius: 7px
        &__item
            display: flex
            flex-direction: column
            justify-content: space-around
            border-right: none
            padding: 0.45rem 0.1rem 0.55rem
            margin: 0
            line-height: 1.5
            &--positive
                .account-collection__item-amount
                    color: $mdc-theme-primary
            &-account
                font-size: 14px
                text-align: center
                font-weight: 300
                color: $mdc-theme-text-hint-on-background
            &-amount
                font-size: 19px
                font-weight: 300
                text-align: center
            &-credit-limit
                font-size: 12px
                color: $mdc-theme-text-hint-on-background
                text-align: center
                line-height: 14px
                margin-top: -4px
                margin-bottom: -2px
                &::before
                    content: ' / '
</style>
