<template>
    <span>{{ amountLabel }}</span>
</template>

<script>
    export default {
        name: 'Amount',
        props: ['amount', 'precision'],
        computed: {
            amountLabel() {
                const precision = typeof this.precision === 'number' ? this.precision : 2
                const isNegative = this.amount < 0
                const integerPart = Math.round(Math.abs(this.amount)).toString()
                const decimalPart = (this.amount - Math.floor(this.amount)).toFixed(precision).substring(1)

                let label = ''
                let count = 0
                for (let index = integerPart.length - 1; index >= 0; index--) {
                    label = integerPart.charAt(index) + label
                    count++

                    if (count % 3 === 0 && index > 0) {
                        label = ' ' + label
                    }
                }

                return (isNegative ? '-':'') + label + decimalPart + ' $'
            }
        }
    }
</script>
