<template>
    <div class="toolbar" :v-elevation="1">
        <div class="toolbar__item-wrapper" v-ripple>
            <router-link to="/app" class="toolbar__item" v-bind:class="{ 'toolbar__item--active': activeView === 'dashboard' }">
                <ViewDashboardIcon />
                <span class="toolbar__item-label">Acceuil</span>
            </router-link>
        </div>
        <div class="toolbar__item-wrapper" v-ripple>
            <router-link to="/app/organize" class="toolbar__item" v-bind:class="{ 'toolbar__item--active': activeView === 'organize' }">
                <FileTreeIcon />
                <span class="toolbar__item-label">Organiser</span>
            </router-link>
        </div>
        <div class="toolbar__item-wrapper" v-ripple>
            <router-link to="/app/planing" class="toolbar__item" v-bind:class="{ 'toolbar__item--active': activeView === 'planing' }">
                <ChartMultilineIcon />
                <span class="toolbar__item-label">Planifier</span>
            </router-link>
        </div>
        <div class="toolbar__item-wrapper" v-ripple>
            <router-link to="/app/jobs" class="toolbar__item" v-bind:class="{ 'toolbar__item--active': activeView === 'jobs' }">
                <ToolsIcon />
                <span class="toolbar__item-label">Jobs</span>
            </router-link>
        </div>
        <div class="toolbar__item">
            <!-- blank item -->
        </div>
    </div>
</template>

<script>
    import ViewDashboardIcon from 'icons/ViewDashboard'
    import FileTreeIcon from 'icons/FileTree'
    import ChartMultilineIcon from 'icons/ChartMultiline'
    import ToolsIcon from 'icons/Tools'
    export default {
        name: 'Toolbar',
        components: {
            ViewDashboardIcon,
            FileTreeIcon,
            ChartMultilineIcon,
            ToolsIcon,
        },
        computed: {
            activeView() {
                return this.$route.name;
            }
        }
    }
</script>

<style scoped lang="sass">
    @import '../theme'

    .toolbar
        position: fixed
        bottom: 0
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        padding: 0
        margin: 0
        background-color: $mdc-theme-surface--02dp

        .toolbar__item
            display: flex
            flex-direction: column
            align-items: center
            color: rgba(255, 255, 255, 0.3)
            height: 50px
            justify-content: center
            &.toolbar__item--active
                color: rgba(255, 255, 255, 0.75)

            .toolbar__item-icon
                font-size: 20px
                line-height: 20px
            .toolbar__item-label
                font-family: 'Roboto Condensed', sans-serif
                line-height: 13px
                font-size: 13px
                margin-top: -4px
</style>
