<template>
    <m-list-item class="transaction-slate" v-bind:class="{
        'transaction-slate--warning': hasWarning,
        'transaction-slate--error': hasError
    }">
        <div slot="graphic" class="transaction-slate__leading-icon" v-bind:style="{
            'border-color': transaction.rootCategoryHue,
            color: (transaction.amount > 0 && !hasWarning && !hasError) && '#8bc34a'
        }">
            <component v-bind:is="iconComponent" v-bind:style="{ height: '24px' }"></component>
        </div>
        <template slot="primaryText">{{ descriptionLabel }}</template>
        <template slot="secondaryText">{{ categoryLabel }}</template>
        <div slot="meta" class="right-align-content">
            <Amount class="transaction-amount" :amount="transaction.amount" />
            <span class="transaction-date">{{ dateLabel }}</span>
            <i class="material-icons">more_vert</i>
        </div>
    </m-list-item>
</template>

<script>
    import CashIcon from 'icons/Cash'
    import CurrencyUsdIcon from 'icons/CurrencyUsd'
    import AlertIcon from 'icons/Alert'
    import AlertCircleIcon from 'icons/AlertCircle'
    import Amount from './Amount'

    export default {
        name: 'TransactionSlate',
        props: ['transaction'],
        components: {
            Amount
        },
        computed: {
            iconComponent() {
                if (this.hasWarning) {
                    return AlertIcon
                } else if (this.hasError) {
                    return AlertCircleIcon
                }
                return this.transaction.amount > 0 ? CashIcon : CurrencyUsdIcon
            },

            dateLabel() {
                return new Date(this.transaction.date).toLocaleDateString('en-CA')
            },

            descriptionLabel() {
                const description = this.transaction.description
                const type = this.transaction.type
                return type ? `${type} • ${description}` : description
            },

            categoryLabel() {
                const { categoryHierarchy, category } = this.transaction
                if (!_.isEmpty(categoryHierarchy)) {
                    let items = []

                    if (categoryHierarchy.length > 2) {
                        items.push(_.first(categoryHierarchy))
                        items.push('...')
                        items.push(_.last(categoryHierarchy))
                    } else {
                        items = categoryHierarchy
                    }

                    return items.join(' > ')
                } else if (category) {
                    if (category.startsWith('__')) {
                        return category.substring(2)
                    } else {
                        return category
                    }
                } else {
                    return '(Sans catégorie)'
                }
            },

            hasWarning() {
                const { categoryHierarchy, category } = this.transaction
                return _.isEmpty(categoryHierarchy) && category && category.startsWith('__')
            },

            hasError() {
                const { id, categoryHierarchy, category } = this.transaction
                return _.isEmpty(categoryHierarchy) && !category && id
            }
        }
    }
</script>

<style lang="sass">
    @import '../theme'

    .transaction-slate
        padding: 0

        &--warning, &--error
            .transaction-slate__leading-icon
                color: $mdc-theme-text-primary-on-light
                padding: 16px
                border-left: none

        &--warning
            .transaction-slate__leading-icon
                background-color: $mdc-theme-warning

        &--error
            .transaction-slate__leading-icon
                background-color: $mdc-theme-error

        .transaction-slate__leading-icon
            border-left: 3px solid transparent
            padding: 16px 16px 16px 13px
            margin-right: 10px
            height: 24px
            width: 24px
            .material-design-icon
                height: 24px

        .mdc-list-item__text
            position: relative
            width: 100%
            &::after
                content: ''
                position: absolute
                bottom: 0
                right: -10px
                width: 40px
                height: 45px
                background: linear-gradient(to right, rgba(40, 40, 40, 0), $mdc-theme-surface 50%)

        .right-align-content
            float: right
            display: grid
            grid-template-areas: 'amount menu' 'date menu'
            grid-template-columns: auto auto
            min-width: 5.6rem
            span
                text-align: right
                font-size: .875rem
                &.transaction-amount
                    grid-area: amount
                &.transaction-date
                    grid-area: date
            .material-icons
                grid-area: menu
                height: auto
                margin-right: -10px
                line-height: 34px
                font-size: 20px
                color: $mdc-theme-text-secondary-on-background
</style>
