<template>
    <div id="app" v-bind:class="{ 'show-offline-banner': offlineBannerVisible }">
        <div class="offline-banner">hors-ligne</div>
        <transition name="fade" appear>
            <router-view/>
        </transition>
        <v-snackbar v-model="snackbarOpen">
            {{ snackbarMessage }}
            <template v-slot:action="{ attrs }">
                <v-btn
                        text
                        v-bind="attrs"
                        @click="snackbarOpen = false"
                >
                    {{ snackbarAction }}
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    export default {
        name: 'app',
        data: () => ({
            offlineBannerVisible: false,
            snackbarOpen: false,
            snackbarMessage: null,
            snackbarAction: null,
        }),

        computed: {
            ...mapState([
                'isOnline',
                'snackbar'
            ])
        },

        watch: {
            isOnline(isOnline) {
                this.offlineBannerVisible = !isOnline
            },

            snackbar(newVal) {
                console.log(newVal)
                this.snackbarOpen = true

                this.snackbarMessage = newVal.message
                this.snackbarAction = newVal.actionLabel
            }
        }
    }
</script>

<style lang="sass">
    @import './theme'

    #app.show-offline-banner
        padding-top: 21px
        .offline-banner
            transform: translateY(0px)

        a
            text-decoration: none

        body
            overflow-y: scroll
        ::-webkit-scrollbar
            width: 6px
        ::-webkit-scrollbar-track
            background: $mdc-theme-surface--01dp
        ::-webkit-scrollbar-thumb
            background: $mdc-theme-surface--12dp
        ::-webkit-scrollbar-thumb:hover
            background: $mdc-theme-surface--24dp

        .fade-enter-active, .fade-leave-active
            transition: opacity 300ms ease

        .fade-enter, .fade-leave-active
            opacity: 0

        .slide-left-enter, .slide-right-leave-active
            opacity: 0
            transform: translate(0, 30px)

        .slide-left-leave-active, .slide-right-enter
            opacity: 0
            transform: translate(0, -30px)

        .offline-banner
            text-align: center
            line-height: 21px
            height: 21px
            text-transform: uppercase
            color: #ffffff
            background-color: #b00020
            font-weight: 500
            z-index: 998
            position: fixed
            width: 100%
            top: 0
            transform: translateY(-21px)
            transition: transform 75ms ease-out
            will-change: transform
</style>
