$mdc-theme-surface: #121212;
$mdc-theme-surface--01dp: #1d1d1d;
$mdc-theme-surface--02dp: #212121;
$mdc-theme-surface--03dp: #242424;
$mdc-theme-surface--04dp: #272727;
$mdc-theme-surface--06dp: #2c2c2c;
$mdc-theme-surface--08dp: #2d2d2d;
$mdc-theme-surface--12dp: #323232;
$mdc-theme-surface--16dp: #353535;
$mdc-theme-surface--24dp: #373737;

$mdc-theme-error: #cf6679;
$mdc-theme-warning: #fbc02d;

$mdc-theme-primary: #8bc34a;
$mdc-theme-secondary: #ccbf33;

$mdc-theme-background: $mdc-theme-surface;
$mdc-theme-on-primary: #000;
$mdc-theme-on-secondary: #000;
$mdc-theme-on-surface: #fff;
$mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
$mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.7);
$mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.5);
$mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.5);
$mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.5);
$mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
$mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
$mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
$mdc-theme-text-primary-on-dark: $mdc-theme-text-primary-on-background;
$mdc-theme-text-secondary-on-dark: $mdc-theme-text-secondary-on-background;
$mdc-theme-text-hint-on-dark: $mdc-theme-text-hint-on-background;
$mdc-theme-text-disabled-on-dark: $mdc-theme-text-disabled-on-background;
$mdc-theme-text-icon-on-dark: $mdc-theme-text-icon-on-background;
