<template>
    <div id="view">
        <m-drawer modal v-model="isDrawerOpen">
            <div class="mdc-drawer__header">
                <img id="user-image" class="circle" src="../assets/app-icon.png" alt="Profile picture"/>
                <h3 class="mdc-drawer__title">{{ username }}</h3>
                <h6 class="mdc-drawer__subtitle">{{ userEmail }}</h6>
            </div>
            <div class="mdc-drawer__content">
                <m-list @click="isDrawerOpen = false" tabindex="0">
                    <m-list-item>
                        <m-icon icon="settings" slot="graphic"/>
                        Paramètres
                    </m-list-item>
                    <m-list-item>
                        <m-icon icon="assignment_ind" slot="graphic"/>
                        Mode démo
                    </m-list-item>

                    <m-list-divider></m-list-divider>
                    <m-list-group-subheader>Utilitaires</m-list-group-subheader>
                    <m-list-item>
                        <m-icon icon="fitness_center" slot="graphic"/>
                        Journal de grimpe
                    </m-list-item>
                    <m-list-item>
                        <m-icon icon="cloud_upload" slot="graphic"/>
                        Importation
                    </m-list-item>

                    <m-list-divider></m-list-divider>
                    <m-list-item>
                        <m-icon icon="power_settings_new" slot="graphic"/>
                        Déconnexion
                    </m-list-item>
                </m-list>
            </div>
        </m-drawer>
        <m-drawer-scrim></m-drawer-scrim>
        <m-top-app-bar dense title="Acceuil">
            <m-icon-button
                icon="menu"
                slot="navigation"
                @click="isDrawerOpen = true"
            />
            <template slot="actions">
                <m-icon-button icon="arrow_back" @click="goBack"/>
            </template>
        </m-top-app-bar>
        <div id="view-body">
            <transition :name="transitionName">
                <router-view></router-view>
            </transition>
        </div>
        <toolbar/>
    </div>
</template>

<script>
    import Toolbar from '../components/Toolbar'

    export default {
        name: 'MainLayout',
        components: {
            Toolbar
        },

        data: () => ({
            isDrawerOpen: false,
            username: 'DEV Client',
            userEmail: 'example@finances-app.com',
            transitionName: 'slide-left'
        }),

        methods: {
            goBack() {
                this.$router.back()
            }
        },

        beforeRouteUpdate (to, from, next) {
            const toDepth = to.path.split('/').length
            const fromDepth = from.path.split('/').length
            this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
            next()
        }
    }
</script>

<style scoped lang="sass">
    @import '../theme'

    #view
        min-height: 100vh

    #view-body
        padding-top: 56px
        padding-bottom: 50px
        margin: 0 0.75rem

    .mdc-top-app-bar
        top: 0

    .mdc-drawer__header
        #user-image
            width: 35px
            height: 35px
            position: absolute
            top: 22px
            left: 13.5px
        .mdc-drawer__title, .mdc-drawer__subtitle
            padding-left: 46px
</style>
